.portada1{
    color: #ffffff;
    padding-left: 13%;
    padding-right: 13%;
    height: 100%;
    width: 100%;
    background-image: url("/static/navecomClient/img/portada_uno.jpg");
    padding-top: 10%;

}

.contPortadaUno {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    border-radius: 70px;
    background-image: -webkit-linear-gradient(45deg, rgba(0, 157, 219, 0.7) 60%, rgba(255, 255, 255, 0.4) 40%);
}

.portada2{
    padding-left: 13%;
    padding-right: 13%;
    height: 100%;
    width: 100%;
    background-image: url("/static/navecomClient/img/portada_dos.jpg");
    padding-top: 10%;
}
.contact_num{
    font-size: 1.5rem;
}
.title_uno{
    font-size: 3rem;
}


@media screen and (max-width: 1140px){
    #port1_img{
      max-width: 260px;
      max-height: 260px;
    }
}

@media screen and (max-width: 960px){
    #port1_img{
      max-width: 180px;
      max-height: 180px;
    }
}

@media screen and (max-width: 720px){
    #port1_img{
      max-width: 120px;
      max-height: 120px;
    }
    .portada1{
        padding-top: 18%;
    }
    .portada2{
        padding-top: 18%;
    }
    .title_uno{
        font-size: 2rem;
    }
}

@media screen and (max-width: 540px){
    #port1_img{
      max-width: 100px;
      max-height: 100px;
    }
    .portada1{
        padding-top: 24%;
    }
    .portada2{
        padding-top: 24%;
    }
    .title_uno{
        font-size: 1.2rem;
    }
    .contact_num {
        font-size: 0.5rem;
    }
    .contPortadaUno{
        padding-left: 25px;
        padding-right: 25px;
    }
}
