

.solicMain{
 
  padding-top: 10%;
  background-color: rgba(0, 157, 219, 0.1);

}

header{
  background: rgba(27, 27, 27, 0.5);
}

.borderFormFacat{
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  border: solid 1px rgba(180, 180, 180, 0.6);
  padding: 35px 25px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 15px rgb(8, 8, 8);
}

.preFactForm{

  padding: 35px 50px;
}
