{% extends 'navecomClient/base1.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'navecomClient/css_project/factClientStyle.css' %}">

{% endblock %}


{% block content %}


<div class="container" style="height: 100%; padding-top: 5%;">

    <div class="containerFact">
        <div class="row justify-content-center ">

            <div class="col-12 align-self-center">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="factPen-tab" data-toggle="tab" href="#factPen" role="tab"
                            aria-controls="factPen" aria-selected="true">Facturas Pendientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="histoFact-tab" data-toggle="tab" href="#histoFact" role="tab"
                            aria-controls="histoFact" aria-selected="false">Historial de Facturas</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="factPen" role="tabpanel" aria-labelledby="factPen-tab">
                        <br><br>
                        <div class="row justify-content-center">

                            {% if factPend %}
                            {% for fact in factPend %}
                            <div class="col-10 itemListFact">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">No factura</div>
                                            <div class="col-12 col-sm-7"> {{fact.id_bill}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Plan</div>
                                            <div class="col-12 col-sm-7"> {{fact.plan.servicio}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Fecha Creacion</div>
                                            <div class="col-12 col-sm-7"> {{fact.fecha_creacion}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">No Plan</div>
                                            <div class="col-12 col-sm-7"> {{fact.plan.id_plan}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Fecha Limite</div>
                                            <div class="col-12 col-sm-7"> {{fact.fecha_limite_pago}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Total Factura</div>
                                            <div class="col-12 col-sm-7"> $ {{fact.total_pagar}}</div>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="row " style="padding: 10px;">
                                    <div class="col-12 col-sm-4" >
                                        <img src="{% static 'navecomClient/img/cuenta.png' %}" class="img-fluid"
                                            style="height: 60px; margin-bottom: 20px;">
                                    </div>
                                    <div class="col-12 col-sm-4">

                                        <a style="margin-bottom: 20px; float: right;" href="{% url 'downloadFact' id_fact=fact.id_bill %}"><button
                                                id="btnPayInvoice" class="btn btn-cancel">Descargar</button></a>
                                    </div>
                                    <div class="col-12 col-sm-4" >
                                        <a style="margin-bottom: 20px; float: right;" href="{% url 'preFactura' idPlan=fact.plan.id_plan %}"><button
                                                id="btnPayInvoice" class="btn btn-ok">Pagar</button></a>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="row justify-content-center" style="padding: 10px;">
                                <div class="col-8 titleDos " style="text-align: center; margin-bottom: 30px;">
                                    No Tienes Facturas Pendientes Por Pagar!
            
                                </div> 
                                <div class="col-5" style="text-align: center;">
                                    <img class="img-fluid" src="{% static 'navecomClient/img/like.png' %}" alt="">
                                </div>

                            </div>

                            {% endif %}


                        </div>

                    </div>
                    <div class="tab-pane fade" id="histoFact" role="tabpanel" aria-labelledby="histoFact-tab">
                        <br><br>
                        <div class="row justify-content-center">

                            {% if histoFact %}
                            {% for fact in histoFact %}
                            <div class="col-10 itemListFact">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">No factura</div>
                                            <div class="col-12 col-sm-7">{{fact.id_bill}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Plan</div>
                                            <div class="col-12 col-sm-7">{{fact.plan.servicio}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Fecha Creacion</div>
                                            <div class="col-12 col-sm-7">{{fact.fecha_creacion}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">No Plan</div>
                                            <div class="col-12 col-sm-7"> {{fact.plan.id_plan}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Fecha Limite</div>
                                            <div class="col-12 col-sm-7"> {{fact.fecha_limite_pago}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 titleTres">Total Factura</div>
                                            <div class="col-12 col-sm-7"> $ {{fact.total_pagar}}</div>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-end" style="padding: 10px;">
                                    <div class="col-12 col-sm-6 align-self-start" style="margin-bottom: 20px;">
                                        <div class="col-12 titleTres">Fecha que pago</div>
                                        <div class="col-12">{{fact.fecha_pago}}</div>
                                    </div>
                                    <div class="col-4 col-sm-3">
                                        <img src="{% static 'navecomClient/img/pdf.png' %}" class="img-fluid"
                                            style="height: 60px; float: right;">
                                    </div>
                                    <div class="col-8 col-sm-3 ">
                                        <a style="float: right;" href="{% url 'downloadFact' id_fact=fact.id_bill %}"><button
                                                id="btnPayInvoice" class="btn btn-cancel">Descargar</button></a>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                            {% else %}
                            <div class="row justify-content-center" style="padding: 10px;">
                                <div class="col-8 titleDos " style="text-align: center; margin-bottom: 30px;">
                                    No Tienes Facturas Registradas!
            
                                </div> 
                                <div class="col-5" style="text-align: center;">
                                    <img class="img-fluid" src="{% static 'navecomClient/img/like.png' %}" alt="">
                                </div>

                            </div>

                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>



</div>



{% endblock %}

{% block scripts %}

<script src="{% static 'navecomClient/js_project/motors/motorAjax.js' %}"></script>
<script src="{% static 'navecomClient/js_project/controlFactClient.js' %}"></script>


{% endblock %}