<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link href="{% static 'navecomClient/css/bootstrap.min.css' %}" rel="stylesheet">


    <title>Document</title>
</head>
<body>

    <p class="display-2" >Garrido es gay!!</p>
    


    <script src="{% static 'navecomClient/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'navecomClient/js/popper.min.js' %}" ></script>
    <script src="{% static 'navecomClient/js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'navecomClient/js/bootstrap.min.js' %}" ></script>

</body>
</html>