{% extends 'navecomClient/base1.html' %}


{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'navecomClient/css_project/index_dis.css' %}">
{% endblock %}

{% block content %}

<!-- Content -->
<div class="container_index">

    <!-- portada 1 -->
    <div class="portada1 dis ">
        <div class="row contPortadaUno">
            <div class="col-11 col-lg-6">
                <div class="row" style="color: seashell; font-size: 1em;">
                    <div class="col-auto ">
                        <p class="display-4" style="font-weight: bolder;">NAVECOM ING</p>
                        <p>Ofrecemos servicios de Internet para el hogar. Comprometidos y responsables para su
                            comodidad.</p>
                        <p style="font-weight: bold;">Lineas de atencion al cliente :</p>
                        <hr>
                    </div>
                    <div class="row contact_num">
                        <div class="col-12 col-sm-auto ">
                            <p style="font-weight: bold; font-size: 2rem;">+57 320 8528339</p>
                        </div>
                        <div class="col-12 col-sm-2">
                            <img src="{% static 'navecomClient/img/wapp.png' %}" style="height: 35px;">
                        </div>
                    </div>
                    <div class="row contact_num">
                        <div class="col-12 col-sm-auto">
                            <p style="font-weight: bold; font-size: 2rem;">+57 320 8520718</p>
                        </div>
                        <div class="col-12 col-sm-2">
                            <img src="{% static 'navecomClient/img/wapp.png' %}" style="height: 35px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-lg-2" style="margin-bottom: 5px;" id="col_port1">
                <img class="roundImg" id="port1_img" src="{% static 'navecomClient/img/img_port_uno.png' %}"
                    style="width: 20rem; height: 20rem;">
            </div>
            <hr>
        </div>

    </div>

    <!-- portada 2 -->
    <div class="portada2 dis">
        <div class="row contPortadaUno">
            <div class="col-11 col-lg-6">
                <div class="row" style="color: seashell; font-size: 2em;">
                    <div class="col-auto ">
                        <p class="display-4" style="font-weight: bolder;">ENVIANOS TUS DATOS Y TE CONTACTAREMOS</p>
                    </div>
                    <div class="col-12">
                        <a type="button" class="btn btnContact" href="{% url 'solicitud' %}">Contactanos > </a><br>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-11 col-lg-2 ">
                <img class="roundImg" id="port2_img" src="{% static 'navecomClient/img/img_port_dos.jpg' %}"
                    style="width: 20rem; height: 20rem;">
            </div>
        </div>
    </div>



</div>

<!-- End Content -->

{% endblock %}

{% block scripts %}

<script src="{% static 'navecomClient/js_project/controlIndex.js' %}"></script>
{% endblock %}