<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navecom</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'navecomClient/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'navecomClient/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'navecomClient/css/responsee.css' %}">
    <link rel="stylesheet" href="{% static 'navecomClient/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'navecomClient/owl-carousel/owl.theme.css' %}">
    <!-- CUSTOM STYLE -->      
    <link rel="stylesheet" href="{% static 'navecomClient/css/template-style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,700,900&amp;subset=latin-ext" rel="stylesheet"> 
    <script type="text/javascript" src="{% static 'navecomClient/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'navecomClient/js/jquery-ui.min.js' %}"></script>   
  </head>

  <body>
    <!-- PREMIUM FEATURES BUTTON -->
    <!-- HEADER -->
    <header class="position-absolute">
      <!-- Top Navigation -->           
        <div class="top-nav" style="background-image: url({% static 'navecomClient/img/img-05.jpg' %});">            
          <!-- mobile version logo -->              
          <div class="logo hide-l hide-xl hide-xxl">             
              <!-- Logo White Version -->
              <img class="logo-white" src="{% static 'navecomClient/img/antenaSola.png' %}" alt="">
              <!-- Logo Dark Version -->
              <img class="logo-dark" src="{% static 'navecomClient/img/antenaSola.png' %}" alt="">
            </a>
          </div>                  
          
          
          <!-- left menu items -->
          <div class="top-nav left-menu">
             <ul class="right top-ul chevron">
                <li><a href="">Home</a></li>
             </ul>
          </div>
          
          <!-- logo -->
          <ul class="logo-menu">
            <a href="index.html" class="logo">
              <!-- Logo White Version -->
              <img class="logo-white" style="align-top: true;" src="{% static 'navecomClient/img/antenaSola.png' %}" alt="">
              <!-- Logo Dark Version -->
              <img class="logo-dark" src="{% static 'navecomClient/img/antenaSola.png' %}" alt="">
            </a>
          </ul>
          
          <!-- right menu items -->
          <div class="top-nav right-menu">
             <ul class="top-ul chevron">
                <li>
                  <a>Products</a>
                  <ul>
                    <li><a>Internet Local</a></li>                    
                  </ul>
                </li>    
             </ul> 
          </div>
        </div>      
    </header>
    
    <!-- MAIN -->
    <main role="main">    
      <!-- Header -->
      <header class="section-top-padding background-image text-center" style="background-position: center;background-image:url({% static 'navecomClient/img/redes.jpeg' %})">        
        <h1 class="text-extra-thin text-white text-s-size-30 text-m-size-40 text-size-50 text-line-height-1 margin-bottom-40 margin-top-130">
          <b>
            NAVECOM
          </b>
        </h1>   
        <b>
          <h3 class="text-white">
            Información:
          </h3>                  
          <div class="text-white" >
            <!-- style table-->
            <style>                    
              .tablita{background: none;}                       
              tr,td{text-align:right; border: none;}                        
            </style>     
            <table class="tablita">
              <tbody style="font-size: 200%;">
                <!-- fila #1-->       
                <tr>
                  <td style="width: 55%;">
                    <i>320 8520718</i>
                  </td>
                  <td>
                    <img src="{% static 'navecomClient/img/wapp.png' %}" style="max-width: 54px; padding: 2px;">
                  </td>
                </tr>
                <!-- fila #2-->
                <tr style="background: none; border: none;">                  
                  <td style="width: 55%; border: none;">
                    <i>320 8520718</i> 
                  </td>
                  <td style="border: none;">
                    <img src="{% static 'navecomClient/img/tel.png' %}" style="max-width: 60px;"> 
                  </td>
                </tr>                                                    
              </tbody>    
            </table>                                      
          </div>         
        </b>

        <!-- Image -->
        <img class="margin-top-10 center" src="{% static 'navecomClient/img/app.png' %}" alt="">
        
      </header>
      
      <!-- Section 1 -->
      <section class="section-small-padding background-dark text-center">      
        <div class="line">
          <div class="m-10 l-6 xl-4 center">
            <div class="margin">
              <a class="s-12 m-6 margin-s-bottom" href="/">
                
              </a>
              <a class="s-12 m-6" href="/">

              </a>
            </div>
          </div>                                                                                               
        </div>       
      </section>
  </body>
</html>