{% extends 'navecomClient/base1.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="/static/navecomClient/css_project/login_dis.css">
{% endblock %}

{% block content %}

<div class="text-center" id="login">
  <main class="form-signin">
    {%csrf_token%}
    <img class="mb-5" src="/static/navecomClient/img/antenaSola.png" alt="" width="90" height="90">
    <h1 class="h3 mb-3 fw-normal"> <b> Cuenta NAVECOM </b></h1>
    <label for="inputEmailLoggin" class="visually-hidden">Correo</label>
    <input type="email" id="inputEmailLoggin" class="form-control" placeholder="Correo" type="email" required autofocus>
    <label for="inputPasswordLoggin" class="visually-hidden">Contraseña</label>
    <input type="password" id="inputPasswordLoggin" class="form-control" placeholder="Contraseña"
      required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="recordar-login"> Recordarme
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-warning" id="btnLoggin" url = "{% url 'logUsr' %}">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">&copy; NAVECOM - Internet</p>

  </main>
</div>


{% endblock %}




{% block scripts %}
<script src="{% static 'navecomClient/js_project/motors/motorAjax.js' %}"></script>
<script src="{% static 'navecomClient/js_project/controlLogin.js' %}"></script>


{% endblock %}