{% extends 'navecomClient/base1.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="/static/navecomClient/css_project/pago_dis.css">
{% endblock %}


{% block content %}

<nav class="solicMain">

    <div class="container">
        <div class="row justify-content-between">
            <!-- PLAN A PAGAR -->
            <div class="col-12 col-md-4 formSoli text-light" id="pagar_plan">

                <div class="row">
                    <div class="col-9">
                        <h2 class="titleUno">Plan a pagar</h2>
                    </div>
                    <div class="col-3">
                        <img style="min-width: 64px;" src="{% static 'navecomClient/img/payIcoUno.png' %}" alt="" class="img-fluid">
                    </div>
                    
                </div>

                <p class="titleTres"> Sigue el instructivo para pagar la factura de tu plan de internet.</p>
                {% csrf_token %}
                <div class="form-group">
                    <label class="titleDos" for="numPlan">Número del plan:</label>
                    <input type="number" class="form-control" id="idPlan" placeholder="Ejemplo: 20 " name="numPlan"
                        min="1" required>
                </div>
                <button style="margin-top: 20px;" class="btn btn-ok col-12 align-self-center" url="{% url 'checkFacturaPlan' %}" id="btnPlan">
                    Aceptar
                </button>

            </div>

            <!-- INSTRUCTIVO DE PAGO -->
            <div class="col-12 col-md-7 formSoli text-light text-white tagTop">

                <div class="row">
                    <div class="col-10">
                        <h2 class="titleUno ">INSTRUCTIVO DE PAGO</h2>
                    </div>
                    <div class="col-2">
                        <img style="min-width: 64px;" src="{% static 'navecomClient/img/preguntas.png' %}" alt="" class="img-fluid">
                    </div>

                </div>

                <ul class="titleTres">
                    <h5>
                        <li> Paso 1.
                            <h6>
                                En la opción <b>"Plan a pagar"</b> ingresa el <b>número del plan</b> asociado
                                a una factura.
                            </h6>
                        </li>
                    </h5>

                    <h5>
                        <li> Paso 2.
                            <h6>
                                Verificar en el anuncio <b>"Datos Facturación"</b> los datos correspondientes
                                a la factura que deseas pagar.
                            </h6>
                        </li>
                    </h5>

                    <h5>
                        <li> Paso 3.
                            <h6>
                                Selecciona el boton <b>"Pagar"</b> si estás seguro
                                de los datos correspondientes en el anuncio de <b>"Datos Facturación"</b>.
                            </h6>
                        </li>
                    </h5>

                </ul>


            </div>

        </div>

        <div class="row justify-content-center" id="epayco_img">
            <div class="col-12 formSoli">
                <img class="img-fluid"
                    src="https://multimedia.epayco.co/epayco-landing/btns/pagos_procesados_por_epayco_370px_.png"
                    alt="epayco">
            </div>
        </div>
    </div>


</nav>

{% endblock %}

{% block scripts %}

<script src="{% static 'navecomClient/js_project/motors/motorAjax.js' %}"></script>
<script src="{% static 'navecomClient/js_project/controlPago.js' %}"></script>

{% endblock %}