{% extends 'navecomClient/base1.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="/static/navecomClient/css_project/solicitud_dis.css">
{% endblock %}

{% block content %}

<nav class="solicMain">

    <div class="row justify-content-md-center">

        <div class="col-6 formSoli text-light">
            <h2 class="title text-info">Formulario de contacto</h2>
            <p class="text-muted">Los campos marcados con un <span class="asteRed">*</span> son obligatorios. <br>En Un momento un asesor de servicio se pondra en contacto con usted.</p>
            <form>
                <div class="form-group">
                    <label for="nameSoli">Nombre <span class="asteRed">*</span></label>
                    <input type="text" class="form-control" id="nameSoli" placeholder="Nombre y apellido">
                </div>
                <div class="form-group">
                    <label for="cellSoli">Celular<span class="asteRed"> *</span></label>
                    <input type="text" class="form-control" id="cellSoli" placeholder="Telefono celular">
                </div>
                <div class="form-group">
                    <label for="telSoli">Telefono</label>
                    <input type="text" class="form-control" id="telSoli" placeholder="Telefono fijo">
                </div>
                <div class="form-group">
                    <label for="emailSoli">Correo Electronico</label>
                    <input type="text" class="form-control" id="emailSoli" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="dirSoli">Direccion</label>
                    <input type="text" class="form-control" id="dirSoli" placeholder="Direccion o barrio">
                </div><br>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary col-5 ">Enviar</button>
                </div>
            </form>

        </div>

    </div>
</nav>


{% endblock %}