
.solicMain {
  height: auto;
  width: 100%;
  padding-top: 10%;
  background-image: url('/static/navecomClient/img/1920x1080/server.jpg');

}

.formSoli{

  padding: 5%;
  border-radius: 5%;
  margin-bottom: 10%;
  background-color: rgba(0, 154, 201, 0.75);
  background-image: -webkit-linear-gradient(45deg, rgba(53, 41, 41, 0.8) 90%, rgba(138, 26, 26, 0.9) 50%);

}

.asteRed{
  color: red;
}

@media screen and (max-width: 550px){
  .formSoli{
    margin-top: 100px;
  }
}